# Bazel
bazel-*

# CLion
.clwb

# VScode
.vscode

# npm
node_modules/

# JS code coverage
coverage/

# TS output
tsc-out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
